<h2>Excerpt from Oliver Twist</h2>
<h3>From Chapter V, "Oliver mingles with new associates. Going to a funeral for the first time, he forms an unfavourable notion of his master's business."</h3>
<% @txtlines.each_line do |line| %>
   <%= line %>
   <br />
<% end %>